* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "inter", sans-serif;
  color: black;
  line-height: 1;
}
img {
  height: 200px;
  transform: scale(1.5);
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}
.carousel {
  background-color: rgb(6, 18, 124);
  margin: 100px auto;
  width: 800px;
  border-radius: 8px;
  position: relative;
  color: rgba(255, 255, 255, 0.911);
  padding: 32px 48px 32px 86px;
  display: flex;
  align-items: center;
  gap: 80px;
}
.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
}
.testimonial-author {
  font-size: 14px;
  margin-bottom: 4px;
}
.testimonial-job {
  font-size: 12px;
}
.btn {
  background-color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.btn-icon {
  height: 24px;
  width: 24px;
}
.btn--left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.btn--right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}
.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 32px);
  display: flex;
  gap: 12px;
}
.dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 2px solid rgb(9, 25, 172);
  border-radius: 50%;
  cursor: pointer;
}
.fill {
  background-color: rgb(9, 25, 172);
}
